body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: #eaedf2;
}

h1 {
    text-align: center;
    color: black;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #e8edf3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

fieldset {
    border: 2px solid #3b5158;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #d7dde2;
}

legend {
    font-weight: bold;
    color: #344e4f;
}

label {
    display: block;
    margin-top: 10px;
    color: #344e4f;
}

input, textarea {
    width: calc(100% - 1px);
    padding: 5px;
    margin-top: 4px;
    border: 1px solid #54636e;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #81accf;
    border: 1px solid #768fa2;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}

button:hover {
    background-color: rgba(98, 99, 98, 0.48);
}

#resumeOutput {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #54636e;
    background-color: #d7dde2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resumeOutput h2 {
    color: #3b5158;
}

.profilePicture {
    display: block;
    margin: 0 auto;
    border: 2px solid #54636e;
    box-shadow: 0 4px 8px rgba(98, 99, 98, 0.48);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
